<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.componentsdemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.Login"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.AdminLoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity android:name=".Activity.UsersListActivity" />
        <activity
            android:name=".Activity.NavigationDrawerActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".Activity.DisplayData"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>